@font-face {
    font-family: dana;
    src: url(../fonts/dana-Medium.woff2);
}

:root {
    --action-title: 40px;
    --title: 32px;
    --sub-title: 20px;
    --p: 14px;
    --title-box: 16px;
    --s-action-title: 24px;
    --s-title: 22px;
    --s-sub-title: 14px;
    --s-p: 14px;
    --s-title-box: 16px
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: dana;
    font-size: var(--p);
}

.btn-action {
    border-radius: 12px 12px 12px 0px;
    padding: 4px 24px;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    line-height: 30px;

}

.btn-action:hover {
    box-shadow: 0px 10px 30px 0px #00000030;
    transform: translate(0px, -2px);
}




/* #region HEADER ==== */
.site-header {
    margin-top: 32px;
    height: 100px;
    padding: 16px;
    position: relative;
    z-index: 100;
}

.navbar {
    background-image: url(../images/subtract-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: start;
    height: 100px;
    margin-top: -16px;
}



.logo img {
    border-radius: 16px;
    height: 50px;
}

.navbar,
.nav {
    padding: 0;
}

.nav {
    margin-top: 8px;
}

.nav a {
    color: #333;
}

.register-login a svg {
    width: 40px;
    padding: 8px;
    background-color: #e7e7e7;
    border-radius: 12px;
}

/* #endregion */

/* #region SECTION HERO  ===== */
.section-hero {
    position: relative;
    margin-top: -100px;
}

.section-hero .row {
    background-color: #f5f5f5;
    border-radius: 16px;
    height: 550px;
    align-items: center;
}

.hero-body {
    padding: 32px;
}

.title {
    font-size: var(--action-title);
    font-weight: bold;
}

.hero-p {
    font-size: var(--sub-title);
    margin: 16px 0px 40px 0px;
}


.hero-action {

    gap: 16px;
}

.hero-image {
    align-self: flex-end;
    text-align: center;
}

/* #endregion */

/* #region COUNTER BOX ==== */

.section-counter-about {
    margin-top: -80px;
    z-index: 2;
    position: relative;
}

.section-counter-about .row {
    margin: auto;
    width: 85%;
    padding: 32px;
    box-shadow: 0px 10px 30px 5px #00000030;
    background-color: #000;
    border-radius: 32px 32px 32px 0px;
}

.counter-body {
    text-align: center;
}

.counter-body h5 {
    font-size: var(--sub-title);
    color: #ffffff;
    font-weight: bold;

}

.counter-body p {
    color: #f5f5f5;
    margin-bottom: 0px;
}

.counter-box {
    text-align: center;
}

.counter-box .counter-number {
    font-weight: bold;
    font-size: 20px;
    color: #f5f5f5;
}

.counter-box .counter-title {
    color: #e0e0e0;
    font-size: 12px;
}

.counter-box p {
    margin-bottom: 0;
}

/* #endregion */

/* #region SKILL-LIST ==== */

.skill-list {
    width: 70%;
    margin: auto;
}

.list-icon-skill {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.list-icon-skill li {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 4px 12px 4px 24px;
    margin: 0px 4px;
    /* width: 120px; */
}

.list-icon-skill li a {
    text-decoration: none;
    color: #262626;
    display: block;
}

.list-icon-skill li a img {
    width: 25px;
}

/* #endregion */


/* #region SECTION ABOUT ==== */
.section-about {
    margin-top: 100px;

    align-items: center;
    position: relative;
}

.section-about .row {
    background-color: #f5f5f5;
    border-radius: 16px;
}

.section-about .row::before {
    content: "<-- Scroll down";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(5%, -50%) rotate(90deg);
    width: 35%;
    max-width: 260px;
    height: 40px;
    background-image: url(../images/subtract-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    pointer-events: none;
}

.about-body {
    padding: 32px;
    align-self: center;
}

.about-image {
    text-align: center;
    background-image: url(../images/bg.png);
}

.about-image img {
    width: 60%;
    margin-top: -80px;

}

.section-about h2 {
    font-size: var(--title);
}

.p {
    font-size: var(--p);
}

/* #endregion */

/* #region CART-BOX-ICON ==== */
.list-icon ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.list-icon .list-item img {
    width: 35px;
}

.list-icon .list-item h4 {
    font-size: 14px;
    margin-bottom: 0px;
    margin-right: 8px;
    color: #f5f5f5;
}

.list-icon .list-item {
    width: fit-content;
    background-color: #000;
    padding: 8px 8px 8px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

/* #endregion */

/* #region PROJECT GRID  */

.section-project {
    margin-top: 128px;
}

.cart-action svg {
    box-shadow: none !important;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 185px;
    left: 20px;
    transition: 0.3s;
}

.card:hover .cart-action svg rect {
    fill: #dc3545;
    text-replace: 0.3s;
}

.project-sliders .card {
    border: none;
    padding: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translate(0px, -5px);
    transition: 0.4s;
    cursor: pointer;
}

.project-sliders .card .card-title {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.card .card-text {
    font-size: 14px;
    color: #555;
}

.project-sliders .card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 5px 20px -3px #c2c2c2c0;


}

.project-sliders .card:hover img {
    box-shadow: 0px 5px 40px 5px #00000030;
    transition: 0.3s all;

}

/* #endregion */

/* #region GRID ARTICLES */
.articles {
    margin-top: 120px;
}

.article-sliders .card {
    border: none;
    padding: 8px;
    transition: 0.3s;
    position: relative;
}

.article-sliders .card:hover {
    transform: translate(0px, -5px);
    transition: 0.4s all;
    cursor: pointer;
}

.article-sliders .card .card-title {
    margin-top: 8px;
    font-size: var(--p);
    font-weight: 100;
    text-align: right;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card .card-text {
    font-size: 14px;
    color: #555;
}

.article-sliders .card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 16px;


}

.article-sliders .card:hover {
    box-shadow: 0px 5px 40px 5px #00000010;
    transition: 0.3s all;

}

.article-sliders .date-category {
    display: flex;
    position: absolute;
    top: 190px;
    gap: 8px;
}

.date-category span {
    color: #646464;
    background-color: #ffffffad;
    backdrop-filter: blur(5px);
    padding: 6px 12px;
    border-radius: 8px;
}

.article-sliders .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: right;
    font-size: 12px;
}



/* #endregion */
/* #region SECTION ROUTER */
.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.section-header-body {
    gap: 8px;
    display: flex;
    align-items: center;
}

.section-header-body p {
    margin-bottom: 0;
    padding: 8px;
    border-left: 2px dotted #e0e0e0;
}

.section-header-body img {
    width: 45px;

}

.section-header-body .section-action {
    margin-right: 8px;
    text-decoration: none;
    color: #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
}
/* #endregion */

/* #region SECTION PLAN  */
.section-plan {
    margin-top: 36px;
    background-color: #f5f5f5;
    padding: 64px 32px;
}

.section-plan .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;
    position: relative;
    background-color: #fff;
    border-radius: 16px;

    padding: 50px 16px 16px 16px;
}

.plan::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/subtract-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 21;
    width: 100%;
    height: 20px;
}

.plan img {
    width: 45px;
    position: absolute;
    z-index: 22;
    top: -34px;
    right: 50%;
    transform: translate(50%, 0%);

}

.plan-body {
    gap: 16px;
}

.list-unstyled {
    text-align: right;
    margin: 16px auto;
    padding: 16px;
}

.list-unstyled li {
    font-size: 12px;
    margin-bottom: 8px;
}

.list-unstyled li i {
    margin-left: 4px;
}

.nav-pills li .nav-link {
    color: #000;
}

.nav-pills {
    margin-bottom: 36px !important;
}

.nav-pills .nav-item .active {
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 5px #00000020;

}

.plan-body-action h3 {
    font-size: var(--title-box);
    font-weight: bold;
}

.plan-body-action .action-plan {
    width: 100%;
    border-radius: 8px;
    color: #000;
    border: 1px solid #000;

}

.plan:hover .action-plan {

    background-color: #000;
    color: #fff;

}

.plan .active {
    background-color: #000;
    color: #fff;

}

.plan-body .col-3:last-child {
    box-shadow: 0px 19px 30px -5px #7c7c7c20
}

/* #endregion */



/* #region FOOTER ==== */

.footer-body {
    margin-top: 120px;

}

.site-footer .container-fluid {
    width: 95%;
    padding: 32px;
    border-radius: 24px;
    background-color: #000;
    margin: 32px auto;
}

.footer-cta {
    display: flex;
    height: 300px;
    border-radius: 16px;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.footer-cta a {
    margin-top: 16px;
    color: #fff;
    background-color: #000;
    border-radius: 12px 12px 12px 0px;
    padding: 12px 24px;
}

.social-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-list li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #262626;
    color: #fff;
    font-size: 15px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.social-list li a:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
    color: rgb(220 53 69);
}

.register-form {
    position: relative;
    margin-top: 16px;
}

.register-form input {
    width: 300px;
    border-radius: 10px;
    padding: 10px 12px;
    background-color: rgba(216, 216, 216, 0.315);
    border: none;
}

.register-form button {
    width: 85px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4px 0px;
    border: none;
    border-radius: 8px;
    right: 208px;
    top: 6px;
}

.enamad p {
    margin-bottom: 0px;
    color: #fff;
}

.enamad {
    text-align: left;
}

.enamad img {
    margin-bottom: 16px;
}

/* #endregion */

/* #region OWL-CAROUSEL */
.owl-carousel {
    position: relative;
    display: flex;
    flex-direction: column;
}

.owl-carousel .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    background: #ccc !important;
    border-radius: 50%;
    display: block;
    transition: all .3s;
    margin: 0px 3px;
}

.owl-carousel .owl-dots .owl-dot.active span {
    background: #333 !important;
    width: 20px;
    border-radius: 8px;
}

.owl-carousel .owl-stage-outer {
    order: 1;
}

.owl-stage-outer {
    padding: 32px 0px;
}

/* #endregion */

/* #region TESTIMONIAL SLIDER  */

.section-testimonials {
    text-align: center;
    margin: 64px auto;
}

.section-testimonials .row {
    align-items: center;
    height: 400px;
    background-image: url(../images/macbook-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-slider .item {
    padding: 32px;
}

.testimonial-slider .item .comment-box {
    background-color: #ffffffad;
    backdrop-filter: blur(15px);
    border: 1px solid #f1f1f1;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 5px 30px 10px #cacaca20;
}

.comment-username {
    display: flex;
    align-items: center;
}

.comment-username p {
    margin-bottom: 0;
    margin-right: 8px;
}

.comment-username p small {
    font-size: 10px;
}

.comment-star .fa-star-o:before {
    color: coral;
}

.comment-star .fa-star:before {
    color: coral;
}

.footer-testimonial p {
    margin: 16px 0px 0px 0px;
    font-size: 12px;
}

.testimonial-slider .item .header-testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.testimonial-slider .item .header-testimonial img {
    width: 40px;
}

.testimonial-slider .owl-nav .owl-prev {
    position: absolute;
    right: 0;
    top: 35%;
}

.testimonial-slider .owl-nav .owl-next {
    position: absolute;
    left: 0;
    top: 35%;
}

.testimonial-slider .owl-nav button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    margin: 0 5px;
}

.testimonial-slider .owl-nav button:hover {
    background: #f1f1f1 !important;
}

.testimonial-slider .owl-dots {
    order: 2;

}

/* #endregion */




.owl-carousel .owl-nav {
    order: 3;
    margin-top: 10px;
    text-align: center;
}

/* #region ARTICLE SLIDER  */
.section-article {
    margin: 128px auto;
}

.article-sliders .owl-nav .owl-prev,
.project-sliders .owl-nav .owl-prev {
    position: absolute;
    left: 48px;
    top: -55px;
}

.article-sliders .owl-nav .owl-next,
.project-sliders .owl-nav .owl-next {
    position: absolute;
    left: 0px;
    top: -55px;
}

.owl-nav button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    margin: 0 5px;
}

.article-sliders .owl-nav button:hover {
    background: #f1f1f1 !important;
}

.article-sliders .owl-dots {
    order: 2;

}

/* #endregion */


.accordion-button {
    direction: rtl;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0px 5px 15px -6px #00000010;
    font-size: var(--title-box);
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}

.accordion-item {
    margin-bottom: 8px;
    border: 1px solid #ccc !important;
    border-radius: 16px;
}

.accordion-button:not(.collapsed) {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 5px 20px 0px #00000020;
}

.accordion-button:not(.collapsed)::after {
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 15L12 9L10.25 10.5M5 15L7.33333 13' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    transform: rotate(360deg);
}








/* ==========================
   |    Responsive Design   | 
   ========================== */


@media (min-width:992px) {
    .header-mobile{
        display: none;
    }
    .header-desktop {
        display: block;
    }
}
@media (max-width: 992px) {

    /* #region header  */
    .header-desktop {
        display: none;
    }
     .header-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
    width: 100%;
    background: #ffffffe7;
backdrop-filter: blur(4px);

    box-shadow: 0 -3px 12px rgba(0,0,0,.08);
}

.nav-mobile{
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
}

.nav-item-mobile{
    flex: 1;
}

.nav-link-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    height: 100%;
    width: 100%;
    font-size: 12px;
    transition: .2s ease;
}

.nav-link-mobile img{
    width: 22px;
    margin-bottom: 4px;
    transition: .2s ease;
}

.nav-link-mobile.active{
    color: #000;
    font-weight: 600;
}

.nav-link-mobile.active img{
    transform: translateY(-2px) scale(1.05);
}

.nav-link-mobile:active{
    background: rgba(0,0,0,.05);
}
    /* #endregion */

    .container {
        width: 90%;
    }


    /* hero */
    .section-hero{
        margin-top: 32px;
    }
    .hero-body {
        padding: 16px;
        text-align: center;
    }

    .title {
        font-size: var(--s-action-title);
    }
.hero-p {
    font-size: var(--s-sub-title);
    margin: 16px 0px 40px 0px;
}
.hero-action {
justify-content: center;
}
    /* ---- */

    /* conter */
.section-counter-about .row {
    width: 95%;
    padding:24px 0px;
}
.counter-body h5 {
    font-size:16px;
    font-weight: bold;

}
.counter-body p {
    margin-bottom: 16px;
    color: #ddd;
}
.counter-box {
    width: 80%;
    margin: auto;
    margin-bottom: 8px;
    background-color: #1f1f1f;
    padding: 12px;
    border-radius: 16px;
}
.counter-box .counter-number {
    font-weight: bold;
    font-size: var(--s-sub-title);
    color: #f5f5f5;
}

/* ------ */

/* skill */
.skill-list{
    width: 100%;
    position: relative;
}
.skill-list::after{
    content: "";
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg,#fff,transparent);
}
.list-icon-skill{
    overflow-x: scroll;
    justify-content: start;
    padding: 12px;
}
.list-icon-skill::-webkit-scrollbar {
    display: none;
}

.list-icon-skill li {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 4px 4px 4px 20px;
    margin: 0px 4px;
    width: 120px;
}

.list-icon-skill li a {
    display: flex;
    align-items: center;
}

/* ----- */

/* about */
.about-image img{
    width: 100%;
}

.section-about .row::before{
    display: none;
}
.about-body {
    padding: 16px;
    align-self: center;
}
.section-about h2 {
    margin-top: 8px;
    font-size: var(--s-title);
}

.section-about .p {
    font-size:12px;
}
.list-icon .list-item {
    width: 100%;
}
/* ----- */

/* section-header route */
.section-header {
    justify-content: center;
}
.section-header-body img {
    width: 25px;

}

/* ------ */
/* project */

.cart-action svg {
    box-shadow: none !important;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 80px;
    left: 20px;
    transition: 0.3s;
}
.article-sliders .owl-nav .owl-prev,
.project-sliders .owl-nav .owl-prev {
    position: absolute;
    right: -5%;
   top: 30%;
}

.article-sliders .owl-nav .owl-next,
.project-sliders .owl-nav .owl-next {
    position: absolute;
    left: -5%;
    top:30%;
}
.project-sliders .card .card-title {
    margin-top: 8px;
    font-size: 12px;
}
/* ------ */

/* plan */
.section-plan{
        padding: 64px 0px;
}
.plan-body{
    justify-content: flex-start !important;
    overflow-x: scroll;
    flex-wrap: nowrap;
    padding: 0px 16px;
    position: relative;
}
.plan-body::-webkit-scrollbar {
    display: none;
}
.tab-content{
    padding: 0;
}
.section-plan .tab-content .container{
    width: 100%;
    padding: 0;
}

/* ----- */
/* section-testimonials */
.section-testimonials .container{
    width: 100%;
}

/* ----- */
/* accordion-header */
.section-qa .col-md-7{
    padding: 0;
}
.accordion-button{
    font-size: 12px;
    padding: 12px;
    text-align: right;
}
/* ------- */
/* owl carosle */
.owl-stage-outer{
    padding: 0;
}
/* ------ */

/* footer */
.site-footer .container-fluid {
    width: 95%;
    padding: 16px;
    border-radius: 24px;
    background-color: #000;
    margin: 32px auto;
}
.footer-cta{
    padding: 10px;
}
.site-footer .title{
    font-size: var(--s-title);
}
.site-footer p{
    font-size: 12px;
}
.social-list {
justify-content: center;
}
.register-form input {
    width: auto;
}
.register-form{
display: flex;
flex-direction: column;
}
.register-form button{
    position: relative;
    right: 0;
}
.enamad {
    text-align: center;
    margin-top: 32px;
}
.site-footer{
    margin-bottom:80px;
}
/* ------- */
}
